<div>
	<%= image_tag "title-sheep-full.png", id: "title-img" %>
</div>
<br>
<br>
<br>
<br>

<% if current_user != nil %>
	<h2 id="worst">Join a Game - Do your WORST!!!</h2>
<% end %>
<!-- <table background="grass.png">
		<% @board.each do |row| %>
		<tr>
			<% row.each do |cel| %>
			<td><%= cel %></td>
			<% end %>
		</tr>
		<% end %>
</table> -->
