nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  font-weight: bold;
  background-color: green;
}

.nav-li {
  margin-right: 25px;
  margin-top: 10px;
  display: inline;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.nav-li:hover {
  text-decoration: underline;
}

p {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Ropa Sans', sans-serif;
  color: #26B475;
}

.errors {
  color: red;
}

.form {
  width: 35%;
  margin-left: 2%;
  padding: 25px 50px 35px 50px;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Ropa Sans', sans-serif;
}

input[type=text], input[type=username], input[type=password], input[type=textarea], select {
    width: 85%;
    padding: 12px 10px;
    margin: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.open {
  width: 35%;
  margin-left: 2%;
  padding: 5px 50px 35px 50px;
  border-radius: 25px;
  background-color: #D0F0E2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-open {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

.open-img {
  float: right;
  display: inline-block;
}

.open-link {
  display: inline-block;
}

.left-board {
  float: left;
}


.right-board {
  float: right;
}

#title-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%;
}

#worst {
  font-family: 'Ropa Sans', sans-serif;
  color: #26B475;
  margin-left: 2%;
  text-align: center;

}

.center {
  text-align: center;
}
